{% if page and page.meta and page.meta.author %}
    {% set pgauthor = page.meta.author %}
    {% set pgauthor_email = "mailto:" + page.meta.author_email %}
{% endif %}

<!-- base -->
{% extends "base.html" %}

<!-- format content -->
{% block content %}
    {% block page_content %}
        {# the cover page #}
        {{ page.content }}
        {% if pgauthor is defined %}
        <p><small>
            本文出至: <a href="{{ config.site_url }}">{{ config.site_name }} </a>
            作者：<a href="{{ pgauthor_email }}">{{pgauthor}}</a>
            </small></p>
        {% endif %}   
    {% endblock %}
{% endblock %} 
